.notes-page {
  nav {
    .navbar-brand {
      padding-top: 0px;
      padding-bottom: 0.9rem;
    }
    .navbar-nav {
      flex-direction: initial !important;
      width: 61%;
      .nav-item {
        .nav-link {
          padding-right: 5px;
          padding-left: 3px;
          img {
            width: 29px;
            height: 28px;
          }
          .search {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-size: 20px;
            background-color: white;
            background-image: url("../../../../assets/icons/search.png");
            background-position: 7px 4px;
            background-repeat: no-repeat;
            padding: 0px 8px 5px 29px;
            transition: width 0.4s ease-in-out;

            &:focus {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .notes-container {
    .row {
      .left-session {
        height: calc(100vh - 50px);
        overflow-y: auto;
        padding: 0px !important;
        .note-side-view {
          .card-title {
            padding: 1rem 1.25rem 1rem 1.25rem !important;
            margin: 0px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .card-body {
            font-size: 0.8em;
            padding: 1rem 1.25rem 1rem 1.25rem !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .time {
              padding-right: 0.4rem;
            }
            // .content {

            // }
          }
        }
      }
      .right-session {
        padding: 0px !important;
        .notes-details {
          input {
            border: none;
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .notes-container {
    .mobileView {
      .note-side-view {
        .card-block {
          .card-title {
            padding: .5rem 1.25rem .5rem 1.25rem !important;
            margin: 0px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .card-body {
            font-size: 0.8em;
            padding: .5rem 1.25rem .5rem 1.25rem !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .time {
              padding-right: 0.4rem;
            }
          }
        }
      }
      .expandCollapseContent{
        .notes-details{
          border-top: 1px solid rgba(0,0,0,0.1);
          padding: 0px !important;
          input {
            border: none;
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
    .row {
      .left-session {
        height: calc(100vh - 50px);
        overflow-y: auto;
        padding: 0px !important;
        .note-side-view {
          .card-title {
            padding: 1rem 1.25rem 1rem 1.25rem !important;
            margin: 0px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .card-body {
            font-size: 0.8em;
            padding: 1rem 1.25rem 1rem 1.25rem !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .time {
              padding-right: 0.4rem;
            }
            // .content {

            // }
          }
        }
      }
      .right-session {
        padding: 0px !important;
        .notes-details {
          input {
            border: none;
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
